<ul id="services_list">
      <li><%= link_to "/auth/google" do %><%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %>Google<% end %></li>
      <li><%= link_to "/auth/twitter" do %><%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>Twitter<% end %></li>
</ul>