<li class="subcontent">

    <label>Title:</label>
    <input type="text" name="title" />
    <select name="content[type]" class="type">
      <option value="Video">Video</option>
      <option value="BinaryFile">File</option>
      <option value="Image">Image</option>
      <option value="Url">URL</option>
    </select>
    
    <label class="url hide">Url:</label>
    <input class="url hide" type="text" name="url" value="http://"/>

    <div class="upload buttons">
      <a class="upload">Upload Main Content</a>
    </div>
    
</li>
