.maincontent
{
    list-style: none;
    position: relative;
}
    .maincontent .left,
    .maincontent .right
    {
        border: 1px solid #AFAFAF;
        padding: 10px;
        width: 340px;
        float: left;
    }
    .maincontent .right
    {
        margin-left: 20px;
    }
    #referenceslist
    {
        list-style: none;
    }
    .subcontents
    {
        list-style: none;
    }
        .subcontents li
        {
            clear: left;
        }
        .subcontents li h4
        {
            padding: 0 0;
            margin: 0 0;
            background: #CFCFCF;
        }
        .subcontents li h4 a.delete
        {
            float: right;
        }
        .subcontents li p
        {
            float: left;
        }
        .subcontents img
        {
            height: 45px;
            float: left;
        }
    .references button,
    .references input
    {
        float: left;

    }
    .references ul
    {

    }
.clear
{
    clear: both;
}