.popup
{
    position: absolute;
    background: #FFF;
    border: 1px solid #A7A7A7;
    z-index:10;
}

.landscape .panel .top h3.small
{
    font-size: 12px;
    width: 60%;
    height: 20px;
    overflow:hidden;
}
  .landscape
  {
    width: 100%;
    margin: 0 0;
    padding: 5px 0;
  }
  .landscape > div
  {
      border-radius: 5px;
  }
  .landscape .panel
  {
    float: left;
    display: block;
    width: 32%;
    height: 400px;
    margin: 0px;
    margin-left: 6px;
    background: #F0F0F0;
  }
    .landscape .panel .top
    {
       position: relative;
       background: #C6D880;
       height: 28px;
       margin: 0 0;
       padding: 0 0;
       border-radius: 5px 5px 0 0;
       border-bottom: 1px solid #555;
    }
        .landscape .panel .top label
        {
            padding-right: 20px;
        }
        .landscape .panel .top input
        {
            width: 188px;
        }

      .landscape .panel .top .popup
      {
          right: 5px;
          top: 38px;
          border-radius: 5px;
          height: auto;
          width: 200px;
          padding: 5px;
      }
        .landscape .panel .top .popup .topnotch
        {
            background: transparent url('../images/topnotch.png') top left no-repeat;
            z-index: 10;
            width: 22px;
            height: 22px;
            position: absolute;
            top: -20px;
            right: 5px;
        }
      .landscape .panel .top .popup ul
      {
        height: 100px;
        overflow-y: scroll;
        list-style: none;
        padding: 0 0;
        margin: 0 0;
      }
      .landscape .panel .top .popup ul li
      {
          padding: 5px 0;
          margin: 0 0;
      }
      .landscape .panel .top .popup ul li:nth-child(even)
      {
          background: #F0F5FE;
      }
      .panel .top h3
      {
        margin: 0 0;
        padding: 0 0;
        font-weight: normal;
        float: left;
        font-size: 13px;
        margin-left: 10px;
        margin-top: 5px;
        color: #1F3744;

      }
      .panel .top button
      {
        float:right;
        border: 1px solid #EEE;
        padding: 0 0;
        margin: 5px 5px 0 0;
        background: #EEE;
        color: #777;
        padding: 1px;
        border-radius: 4px;
      }
      .panel .body dl
      {
       margin: 0 0;
       padding: 0 0;

        position: relative;
        width: 100%;
        overflow: hidden;
        background: #CCC;
      }
      .panel .body dd
      {
        width: 100%;
        margin: 0 0;
        padding: 0 0;
      }
        .panel .body dl dt,
        .panel .body ul li
        {
            padding: 3px 2px;
            border-left: 1px dotted #FFF;
            border-bottom: 1px solid #888;
            margin-bottom: 1px;
            margin-left: 1px;
            background: #CFCFCF;
            position: relative;
            list-style:none;
            height: 20px;
        }
        .panel .body dl dt.active,
        .panel .body ul li.active
        {
            background: #FEB807;
        }
        .panel .body dl dt > a
        {
          color: #FFF;
          text-decoration: none;
          position: absolute;
        }
        .panel .body p.hover
        {
            display:none;
        }
        .panel .body a.title
        {
          width: 100%;
          font-size: 11px;
          margin: 0 0;
          padding: 0 0 0 15px;
          color: #333;
          font-weight: normal;
          cursor: pointer;
          display: inline;
        }

        .panel .body input
        {
          margin: 0 0;
          width: 80%;
          padding: 0 0;
          margin-left: 15px;
          display: inline;
        }
        .panel .body dl dd
        {
            background: #EDE3C1;
        }
        .panel .body label
        {
            font-size: 11px;
            margin: 1px 0px 1px 5px;
        }
        .panel .body dl dd textarea
        {
            width: 90%;
            margin-left: 5px;
        }
        .panel .body dl dd button
        {
            margin-right: 5px;
            margin-bottom: 5px;
            float: right;
        }

/* course details */
    #courses.panel .defaults
    {
        position: relative;
        height: 80px;
        border: 1px solid #888;
        margin: 5px;
        width: 463px;
    }
        #courses.panel .amount
        {
            width: 40px;
            margin: 5px;
        }
        #courses.panel .defaults h3
        {
            padding: 5px 5px;
            margin: 0 0;
            font-size: 13px;
        }
        #courses.panel .defaults label
        {
           width: 80px;
           text-align: left;
           float: left;
        }
        #courses.panel .defaults input
        {
            margin: 0 5px;
        }
        #courses.panel .defaults .default_amount
        {
            width: 50px;
            float: left;
            clear: left;
        }
        #courses.panel .defaults .default_return_url
        {
            margin-left: 27px;
            width: 200px;
            float: left;
        }
    #content_details .body
    {
        background: #EDE3C1;
        margin: 1px;
    }
    #content_details .body input[type=text],
    #content_details .body label
    {
        width: 100px;
        float: left;
    }
    #content_details .body label
    {
        clear: left;
        text-align: right;
        float: left;
        margin: 4px 0px;
    }
    #content_details .body input[type=checkbox]
    {
        width: auto;
        display: inline;
    }
    #content_details .body a
    {
        display: block;
        float: left;
        clear: left;
        margin-left: 10px;
    }
    #content_details .body button
    {
        margin: 5px 5px;
        float: right;
    }