#header
{
    background: none;
}
.sidesec, .mainsec
{
    float: left;
}
.sidesec
{
    width: 260px;
    margin-left: 10px;
}
.mainsec
{
    width: 680px;
}
    .title
    {
        font-size: 22px;
        line-height: 25px;
    }   
        .title .nohover
        {
            color: #333;
        }
        .title .red
        {
            color: #C00;
        }
        .title .green
        {
            color:#2F893D;
        }

    .tagline
    {
        margin: 6px 0px;
    }
    .left
    {
        width: 435px;
        margin-right:30px;
        float: left;
    }
    .right
    {
        float: left; 
        width: 200px;
    }
        .mainsec h3
        {
            font-size: 12px;
            line-height: 12px;
            margin: 10px 0 2px 0;
            padding: 0 0;
        }
.sidesec ul
{
    clear: both;
    list-style: none;
    margin: 0 0;
    padding: 0 0;
}
    .sidesec h3
    {
        margin: 0px;
        font-size: 14px;
        font-weight: bold;     
        padding: 0px 0 0 5px;
    }
        .sidesec .buycourse button,
        .sidesec .play button
        {
            color: #2F893D;
            font-weight: bold;
            padding: 5px;
            right: 100px;
            margin: 10px 10px 10px 10px;
            border-radius: 5px;
            border: 1px solid #E6E6E6;
        }
        .sidesec .buycourse .purchased
        {
            color: #666;
        }
    .sidesec p
    {
        font-size: 12px;
        padding: 0 0 8px 5px;
    }
    #courselist
    {
        border-top: 1px solid #777;
    }
    .sidesec ul li
    {
        padding: 2px 0px;
        height: 62px;
        margin: 5px 0px;
        position: relative;
    }
        .sidesec ul li p 
        {
            width: 170px;
            margin: 0 0;
            padding: 0 0;
        }
        .sidesec ul li.nowplaying:nth-child(odd),
        .sidesec ul li.nowplaying
        {
            border-bottom: 1px solid #E7E7EA;
        }
            .sidesec ul li.nowplaying:nth-child(odd) a,
            .sidesec ul li.nowplaying a
            {

            }
            .sidesec ul li.nowplaying:nth-child(odd) a:hover,
            .sidesec ul li.nowplaying a:hover
            {
                
            }
            .sidesec .playbutton
            {
                width: 42px;
                height: 42px;
                display: block;
                position: absolute;
                right: 15px;
                top: 10px;
                border: 1px solid #A8A8A8;
                border-radius: 22px;
                
            }

                .sidesec .playbutton .icon
                {
                    width: 14px;
                    height: 14px;
                    color: #333;
                    font-size: 15px;
                    font-weight: bold;
                    margin-left: 18px;
                    margin-top: 10px;
                    display: block;
                }
    .sidesec .listbox
    {
        overflow: scroll;
    }
    .sidesec ul li .play,
    .sidesec ul li .play a
    {
        font-weight: bold;
        text-decoration: none;
        padding: 0px 6px;
        font-size: 12px;
        color: #000;

    }
        .sidesec ul li .play a
        {
            padding-left: 0px;
            position: relative;
        }

        .sidesec ul li .play a .amount
        {
            font-size: 10px;
            float:right;
            width: 80px;
        }

    .sidesec ul li .play:hover,
    .sidesec ul li .play a:hover
    {
        color: #008ae1;
    }

    .sidesec ul li p
    {
        font-size: 10px;
        padding: 0px 6px;
    }
    .playlist
    {
        margin-top: 20px;
    }
.options
{
    list-style:none;
    width: 500px;
    height: 18px;
    padding-bottom: 3px;
    background: #808080;
    margin-bottom: 30px;
    clear: both;

}
    .options > li
    {
        float: left;
    }
        .options > li > a
        {
            border-width: 0px 1px 0px 0px;
            border-style: solid;
            border-color: #AAA;
            padding: 0px 10px;

            display: block;
        }
    .options a
    {
        text-decoration: none;
        color: #FFF;
    }

    .options > li:hover .child
    {
/*        display: block; */
    }
    .options .child
    {
        background: #EEE;
        list-style:none;
        display: none;
        
    }
        .options .child a
        {
            color: #000;
        }
.loginstatus
{
    float: right;
}
    .loginstatus a
    { 
        font-size: 10px;
    }
.embed .container
{
    width: 960px;
}
.player *
{
    width: 675px;
    background: #000;
}
/* popup */
.popup
{
    position: absolute;
    top: 20%;
    margin: 0 auto;
    background: #FFF;
    width: 600px;
    top: 100px;
    min-height: 200px;
    padding-bottom: 20px;
    left: 200px;
    border-radius: 5px;
    border: 5px solid #9F9F9F;
}
    .popup > div
    {
        position: relative;
    }
        .popup .close
        {
            position: absolute;
            display: block;
            background: #CACACA;
            color: #FFF;
            width: 18px;
            padding:2px;
            text-align: center;
            border-radius: 14px;
            text-decoration: none;
            font-weight: bold;
            margin: 15px;
        }
        .popup .close:hover
        {
            background: #999;
        }
        .popup h2
        {
            position: absolute;
            top: 16px;
            left: 50px;
            margin: 0 0;
        }
        .popup p.encouragingtxt
        {
            position: absolute;

            margin-top: 40px;
            margin-left: 52px;
        }
        .popup  .register,
        .popup .login 
        {
            position: relative;
            margin-top:60px;
            width: 40%;
            float: left;
        }
        .popup .login
        {
            margin-left: 20px;
        }
        .popup .register
        {
            width: 40%;
            margin-left: 50px;            
        }
        .frmlogin
        {
            border-right: 3px solid #CCC;
        }
        .popup .register p
        {
            padding-bottom: 10px;
        }
        .popup form label
        {
            font-weight: bold;
            font-size: 12px;
            padding-left: 2px;
        }
        .popup form input[type=text],
        .popup form input[type=password]
        {
            margin-bottom:15px;
            font-size: 15px;
        }
        .popup form button
        {
            width: 150px;
            padding: 10px 0px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 13px;
            color: #333;
            border: 1px solid #CACACA;
            margin-left: 2px;
        }
        .buybutton
        {
            position: absolute;
            margin: 80px 40px 40px 40px;
        }
/* gradients */
.light_gradient
{
    background-image: linear-gradient(bottom, rgb(251,251,251) 0%, rgb(221,221,221) 100%);
    background-image: -o-linear-gradient(bottom, rgb(251,251,251) 0%, rgb(221,221,221) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(251,251,251) 0%, rgb(221,221,221) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(251,251,251) 0%, rgb(221,221,221) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(251,251,251) 0%, rgb(221,221,221) 100%);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(251,251,251)),
      color-stop(1, rgb(221,221,221))
      );
}
.soft_gradient
{
    background-image: linear-gradient(bottom, rgb(251,251,251) 0%, rgb(207,207,207) 100%);
    background-image: -o-linear-gradient(bottom, rgb(251,251,251) 0%, rgb(207,207,207) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(251,251,251) 0%, rgb(207,207,207) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(251,251,251) 0%, rgb(207,207,207) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(251,251,251) 0%, rgb(207,207,207) 100%);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(251,251,251)),
      color-stop(1, rgb(207,207,207))
      );
}
.medium_gradient
{
    background-image: linear-gradient(bottom, rgb(251,251,251) 100%, rgb(222,222,225) 0%);
    background-image: -o-linear-gradient(bottom, rgb(251,251,251) 100%, rgb(222,222,225) 0%);
    background-image: -moz-linear-gradient(bottom, rgb(251,251,251) 100%, rgb(222,222,225) 0%);
    background-image: -webkit-linear-gradient(bottom, rgb(251,251,251) 100%, rgb(222,222,225) 0%);
    background-image: -ms-linear-gradient(bottom, rgb(251,251,251) 100%, rgb(222,222,225) 0%);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(1, rgb(251,251,251)),
      color-stop(0, rgb(222,222,225))
      );
}
.hard_gradient
{
    background-image: linear-gradient(bottom, rgb(180,180,180) 0%, rgb(207,207,207) 100%);
    background-image: -o-linear-gradient(bottom, rgb(180,180,180) 0%, rgb(207,207,207) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(180,180,180) 0%, rgb(207,207,207) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(180,180,180) 0%, rgb(207,207,207) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(180,180,180) 0%, rgb(207,207,207) 100%);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(180,180,180)),
      color-stop(1, rgb(207,207,207))
      );

}