#header
{
    background: none;
}
.playlist, .mainsec
{
    float: left;
}
.playlist
{
    width: 220px;
    height: 230px;
    padding-left: 5px;
    margin-top:48px;
}
.mainsec
{
    width: 550px;
}
.tagline
{
    margin: 6px 0px;
}
.playlist ul
{
    clear: both;
    list-style: none;
    margin: 0 0;
    padding: 0 0;

}
    .courselist li
    {
        padding: 4px 0px;
    }
    .courselist li .play
    {
        font-weight: bold;
        text-decoration: none;
        padding: 2px 6px;
        font-size: 12px;
    }
    .courselist li p
    {
        font-size: 10px;
        padding: 0px 6px;
    }
    #morelist li:nth-child(odd),
    .courselist li:nth-child(odd)
    {
        background: #FAFAFA;
    }
    #morelist a
    {
        text-decoration: none;
    }
        #morelist li
        {
            clear: left;
            width: 100%;
            height:80px;
        }
        #morelist a span
        {
            text-decoration: underline;
            display: block;
        }
        #morelist a *
        {
            float: left;

        }

.options
{
    list-style:none;
    width: 500px;
    height: 20px;
    padding-bottom: 3px;
    background: #EFEFEF;
    margin-bottom: 30px;
    clear: both;
}
    .options > li
    {
        float: left;
    }
        .options > li > a
        {
            border-width: 0px 1px 0px 0px;
            border-style: solid;
            border-color: #AAA;
            padding: 0px 10px;
            display: block;
        }
    .options a
    {
        text-decoration: none;
    }
    .options > li:hover .child
    {
/*        display: block; */
    }
    .options .child
    {
        background: #EEE;
        list-style:none;
        display: none;
    }