body
{
    background: #CFCFCF;
}
.container
{
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    background: #FFF;
}
.hide
{
    display: none;
}


/*** SWFUPLOAD ***/


.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}
.progress
{
    height: 20px;
    width: 0px;
    background: #7FAAFF;
    position: absolute;
    top: 2px;
}
.progressContainer
{
    height: 24px;
    width:200px;
    margin: 0 0;
    padding: 0 0;
    background:#CFCFCF;
    position: relative;
}
/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: top;
}
