p , table, tr ,td, div, span, h1,h2,li ,ul{
    margin: 0 0;
    padding: 0 0;
}
body
{
    background: #CFCFCF;
    margin: 0 0;
    padding: 0 0;
}
.container
{
    background: #FFF;
}
.hide
{
    display: none;
}


/*** SWFUPLOAD ***/


.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}
.progress
{
    height: 20px;
    width: 0px;
    background: #7FAAFF;
    position: absolute;
    top: 2px;
}
.progressContainer
{
    height: 24px;
    width:200px;
    margin: 0 0;
    padding: 0 0;
    background:#CFCFCF;
    position: relative;
}
/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: top;
}
/** general **/
#flash
{
    width: 100%;
    position: absolute;
    z-index: 10;
    display:none;
}
    #flash .notice, #flash .alert
    {
        height: 100%;
        width: 100%;
        background: #FFF8B2;
        color: #000;
        text-align: center;
        font-size: 16px;
    }
    #flash .alert
    {
        background: #FFAAAA;
        color: #B50000;
    }
#logo, #header, .container, #footer
{
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}
#header
{
    width: 800px;
    padding: 0px 10px;
    height: 30px;
    background: #1F3744;
    margin: 0 auto;
}
    #header .loginstatus
    {
        margin-top: 3px;
        float: right;
    }
        #header .loginstatus p
        {
            display: inline;
        }
        #header .loginstatus a
        {
            color: #FFFFCC;
            font-size: 11px;
        }
        #header .loginstatus a:hover
        {
            background: none;
            color: #B50000;
        }
#footer
{
    background: #4A4A4A;
    height: 50px;
}
.left, .right
{
    float: left;
    width: 40%;
}
.clear
{
    clear: both;
}
/* dashboard */
.usernav
{
    list-style: none;
    height: 20px;
    font-size: 10px;
}
    .usernav li:first-child
    {
        border-left: none;
    }
    .usernav li
    {
        display: inline;
        border-left: 1px solid #444;
        float: left;
        padding: 0px 5px;
    }