p , table, tr ,td, div, span, h1,h2,li ,ul{
    margin: 0 0;
    padding: 0 0;
}
body
{
    background: #CFCFCF;
    margin: 0 0;
    padding: 0 0;
}
label,input,textarea
{
    display: block;
}
.container
{
    background: #FFF;
}
.hide
{
    display: none;
}
/** upload **/
.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 120px; padding: 3px 0; text-align:center;
    background:#B3400B; border-bottom:1px solid #ddd;color:#fff;
}
.qq-upload-button-hover {background:#cc0000;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center;
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}
.progressbar
{
    width: 800px;
    height:20px;
    background:#CFCFCF;
}
.total
{
    width: 0%;
    height:16px;
    margin-top:2px;
    background: #6AAAD3;
}
/** general **/
#flash
{
    width: 100%;
    position: absolute;
    z-index: 10;
    display:none;
}
    #flash .notice, #flash .alert
    {
        padding: 3px 0px 2px 0px;
        height: 100%;
        width: 100%;
        background: #FFF8B2;
        color: #000;
        text-align: center;
        font-size: 16px;
    }
    #flash .alert
    {
/*        background: #FFAAAA; */
        color: #B50000;
    }
#logo, #header, .container, #footer
{
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}
#header
{
    width: 800px;
    padding: 0px 10px;
    height: 30px;
    background: #2F2F2F;
    margin: 0 auto;
}
    #header .loginstatus
    {
        margin-top: 3px;
        float: right;
    }
        #header .loginstatus p
        {
            display: inline;
        }
        #header .loginstatus a
        {
            color: #FFFFCC;
            font-size: 11px;
        }
        #header .loginstatus a:hover
        {
            background: none;
            color: #B50000;
        }
#footer
{
    background: #4A4A4A;
    height: 50px;
}
.left, .right
{
    float: left;
    width: 47.5%;
    
}
.right
{
    margin-left: 30px;
}
.clear
{
    clear: both;
}
/* dashboard */
.container > h2
{
    margin: 10px 0px 0px 0px;
}
.container > p
{
    margin: 10px 0px;
}
.container .left,
.container .right
{
    border: 1px solid #333;
    border-radius: 5px;
    position: relative;
}
.container .newcontent
{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 11px;
}

.container .left h3,
.container .right h3
{
    margin: 0 0;
    border-radius: 5px 5px 0 0;
    padding: 5px 0 10px 10px;
    background: #C6D880;
    color: #1F3744;
    
}
.container .left ul,
.container .right ul
{
    list-style: none;
}
    .container li
    {
        padding: 5px 10px;
    }
    .container .left li:nth-child(odd) ,
    .container .right li:nth-child(odd) 
    {
        background-color:#F0F5FE; 
    }
    
    .container h5
    {
        padding: 0 0;
        margin: 5px 0px 0px 0px;
        line-height: 10px;
    }
    .container small
    {
        padding: 0 0;
        margin: 0 0;
    }
    .container .links
    {
        float: right;
    }
.usernav 
{
    list-style: none;
    height: 20px;
    font-size: 10px;
}
    .usernav li:first-child
    {
        border-left: none;
    }
    .usernav li
    {
        display: inline;
        border-left: 1px solid #444;
        float: left;
        padding: 0px 5px;
        list-style: none;
    }
    

/* purchasing */
    .popup
    {
        position: absolute;
        width: 300px;
        height: 200px;
        top: 20%;
        margin: 0 auto;
        border: 1px solid #CACACA;
        background: #FFF;
    }