<h2><%%= toptext %></h2>
<div>
  <p class="encouragingtxt">Grab the next episode from your favourite publisher!</p>
  <div id="login" class="login" >
    <h3>Log In</h3>
    <form class="frmlogin" method="post" action="">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <button type="submit" class="light_gradient">Log in</button>
    </form>
  </div>
  <div id="register" class="register">
    <h3>New user? Sign up here</h3>
    <p>Keep track of your purchases by providing us with something to remember you by.</p>
    <form class="frmregister" method="post" action="">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <label for="password_confirmation">Confirmation</label>
      <input type="password" name="password_confirmation" id="password_confirmation" />
      <button type="submit" class="light_gradient"  >Register</button>
    </form>
  </div>
</div>
<a class="close" href="#">X</a>
