<h2><%%= toptext %></h2>
<div class="payment">
    <div class="buybutton"><a href="#"><img src="/images/pp-buynow.jpg" /></a></div>
  <a class="close" href="#">X</a>
  <form class="buy" action="<%%= path%>" method="post">
    <input type="hidden" name="ci" value="<%%= purchaseable.id %>" ></input>
    <input type="hidden" name="type" value="<%%= purchaseType %>" ></input>
  </form>
</div>