<div class="payment">
<h2>Purchase “<%%= content.title %>”</h2>
  <div class="step1">
    <p>Grab the next episode from your favourite publisher!</p>
    <%= render :partial => "shared/loginbox" %>
  </div>
  <div class="step2 hide">
    <div class="buybutton">
       <a href="<%= url_for :controller => 'purchasing', :action => 'checkout' %>"><img src="/images/pp-buynow.jpg" /></a>
    </div>

  </div>
  <a class="close" href="#">X</a>
</div>