<h2>Navigation</h2>
<div class="usernav">

<% if (current_user) %>
  <ul>
    <li>» <a href="/users">Dashboard</a></li>
  </ul>

  <ul>
    <li>» <a href="/contents/new">Add Content</a></li>
    <li>» <a href="/courses">Course Manager</a></li>
  </ul>
<% end %>
</div>