<h2>Navigation</h2>
<div class="usernav">

<% if (current_user && current_user.type == "Publisher") %>
  <ul>
    <li>» <a href="/users">Dashboard</a></li>
  </ul>

  <ul>
    <li>» <a href="/contents/new">Add Content</a></li>
    <li>» <a href="/courses">Jetty Packs</a></li>
  </ul>
<% end %>
</div>