<div class="home">
  <div id="mascot">
    Jetty Fish
  </div>
  <div class="contentsec">
    <h2>Jetty is a launch pad for publishers.</h2>
    <h3>Organize, package and promote your content with Jetty’s cloud-based publishing and pricing platform.</h3>
    <p>Jetty is currently in private beta. Subscribe for news about our launch!</p>
    <form action="http://getjetty.us2.list-manage.com/subscribe/post?u=ffd3064540cb5f5f4039f95be&amp;id=d5bcaef714" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-mail address" required>
            <div class="clear"><input type="submit" value="Sign me up!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
  </div>
</div>