<div class="home">
  <div id="mascot">
    Jetty Fish
  </div>
  <div class="contentsec">
    <h2>Jetty is a launch pad for publishers.</h2>
    <h3>Organize, package and promote your content with Jetty’s cloud-based publishing and pricing platform.</h3>
    <p>Jetty is currently in private beta. Subscribe for news about our launch!</p>
    <form id="subscribefrm">
      <input type="text" name="email" value="E-mail address"></input>
      <input type="submit" value="Sign me up!"></input>
    </form>
  </div>
</div>