<a href="#" class="buynow">buy!</a>
<%= render :partial => "shared/purchasebox", :locals => {:content => {}} %>
<script type="text/javascript">
  $(function()
{
  $(".buynow").click(function(e){$(".popup").show(); e.preventDefault();});
});
</script>